# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Config
properties

# VSCode
.vscode/
.history/

# Dependency directories
pids
logs
results

# Optional: Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
